<div class="back-link" routerLink="/bus-list">Voltar</div>
<div class="opcoes_poltronas">
  <div class="occupied legend-holder">
    <div class="top-text">Ocupado</div>
    <div class="legend">X</div>
  </div>
  <div class="available legend-holder">
    <div class="top-text">Disponível</div>
    <div class="legend"></div>
  </div>
</div>
<div class="bus-stop">
  <section class="bus">
    <div><img class="front" src="assets/bus/onibus_desktop_frente.png" alt=""></div>
    <!--  the style tag is calculating how much columns the seats shall occupy -->
    <div class="bus-container" [ngClass]="leito? 'leito-cama':''"
         [style]="{ '--columns': Math.ceil(seatsData.length / 4 + 1) }">
      <!--    the grid and classes are for positioning and availability of seats -->
      <div *ngFor="let seat of seatsData"
           [ngClass]="{'seat': true, 'occupied': seat.occupied, 'available': !seat.occupied}"
           [style.gridColumnStart]="seat.position.x + 1"
           [style.gridRowStart]="seat.position.y + 1">
        {{ !seat.occupied ? seat.seat : 'X' }}
      </div>
    </div>
    <div><img class="back" src="assets/bus/onibus_desktop_traseira.png" alt=""></div>
  </section>
</div>
